$sidebar: 310px;
$non-mobile: 535px;
$desktop: 820px;
$s24: 24px;
$sidebarHeight: 208px;
$pitch: "Pitch Sans Web", Consolas, monaco, monospace;
$graphik: "Graphik Web", -apple-system, BlinkMacSystemFont, "avenir next",
  avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
  sans-serif;

$sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
  "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
  sans-serif;
